CoolParser/CoolParser/obj/Debug/CoolParser.csproj.FileListAbsolute.txt
CoolParser/CoolParser/obj/Debug/CoolParser.csproj.FileListAbsolute.txt
*.exe
CoolParser/CoolParser/obj/Debug/CoolParser.pdb
*.cache
CoolParser/CoolParser.VC.VC.opendb
*.db
CoolParser/.vs/CoolParser/v14/.suo
CoolParser/CoolParser/obj/Debug/CoolParser.csproj.FileListAbsolute.txt
CoolParser/CoolParser/bin/Debug/CoolParser.pdb
*.pdb
CoolParser/CoolParser/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache